---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>About me</h1>
			<p>
				Hi! I'm Liam and I'm a senior technical writer and docs engineer based in Montreal, Canada.
			</p>
		</main>
		<Footer />
	</body>
</html>

<style>
	main {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 3em 1em;
	}
	h1 {
		font-size: 2.2rem;
	}
</style>
