---
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon/components';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/cv">CV</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://github.com/liamconnors" target="_blank">
				<span class="sr-only">Visit my GitHub profile.</span>
				<Icon name="simple-icons:github" width={24} height={24} />
			</a>
			<a href="https://www.linkedin.com/in/iiamc/" target="_blank">
				<span class="sr-only">Visit my LinkedIn profile.</span>
				<Icon name="simple-icons:linkedin" width={24} height={24} />
			</a>
			<a href="mailto:morningcashee.voice654@passmail.net">
				<span class="sr-only">Email me.</span>
				<Icon name="lucide:mail" width={24} height={24} />
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
